body{
	margin:0;
	font-family: Helvetica,Arial,sans-serif;
	line-height: 30 px;
	font-size: 25px;
	 }

header{
	background-color: navy;
	text-align: center;
	padding-top: 50PX;
	padding-bottom: 30px;
}
h1, h2{
	font-family: 'Vina Sans', cursive;
}
header h1{
	color: whitesmoke;
	font-family: Helvetica,Arial,sans-serif;
}
header img{
	border-radius: 150px;
	rotate: 180deg;
	border: 20px solid #ff8c00;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0px 20px;
}
main img{
	max-width: 100%;
}
footer{
	background-color:#ff8c00 ;
	padding: 40PX;
	text-align: center;
}
a{
	color: gray;
}
a:hover{
	color: navy;
}

p.caption{
	color: lightgray;
	font-style: italic;
	margin-top: 0;
}
h2{
	margin: 20px 0 10px;
}